<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Ironlady News</h1>
    <div>
      Order by: 
      {% if order_by == "new" %}
        <a href="/?order_by=popular">Popular</a>
      {% else %}
        <strong>Popular</strong>
      {% endif%}
      |
      {% if order_by == "popular" %}
        <a href="/?order_by=new">New</a>
      {% else %}
        <strong>New</strong>
      {% endif %}  
    </div>
  </header>
  <main>
    {% for result in results %}
      <div>
        <div>
          <a href="/{{result.objectID}}">
            <h3>{{result.title}}</h3>
          </a>
          (<a href="{{result.url}}" target="_blank">{{result.url}}</a>)
        </div>
        <div>
            {{result.points}} points | By: {{result.author}} | {{result.num_comments}} comments
        </div>
      </div>
      <hr>
    {% endfor %}
  </main>
</body>

</html>